body {
  font-family: 'Roboto', sans-serif;
  visibility:hidden;
}

h1{
  display: inline;
  margin:0px;
}
p{

}
.content {

  margin: 0 auto;
}

.headshot{
  border-radius: 5%;
  float: left;
  margin-right:16px;
  display:none;
}

:root {
  --text-for-light: black;
  --bkg-for-light: white;
  --text-for-dark: white;
  --bkg-for-dark: black;
 
}

body {
  background-color: var(--bkg-for-light);
  color: var(--text-for-light);
  font-family: sans-serif;
  font-weight: 450;
}


@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-for-dark);
    background-color: var(--bkg-for-dark);
  }
}

.dark-mode {
  color: var(--text-for-dark);
  background-color: var(--bkg-for-dark);
}

.light-mode {
  color: var(--text-for-light);
  background-color: var(--bkg-for-light);
}
#moon-icon{
  display:none;
}
#sun-icon{
  display:none;
}
.icon-container{
  background-color:transparent;
  border:none;

  padding:0px;
  float:right;
  margin-left:7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color:blue;
}

.dark-mode a {
  color: #99C3FF;
}

@media (min-width: 768px) {
  .content {
      width: 75vw; 
  }
}

@media (min-width: 1024px) {
  .content {
      width: 50vw;
  }
}













